body
{
	background:#292f33;
}	
a
{
  color: #fff;
  text-decoration: none;
}
.as:hover
 {
	 background:green;
 }
.as
{
 border:2px solid #ffffff;	
}
.header{
  height: 90px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.logo{
  line-height: 90px;
  float: right;
  text-transform: uppercase;
}

.menu{
  float: left;
  line-height: 100px;
}
.menu a{
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: left;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #3498db;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -9999;
}
.coll
{
/*width: 30%;
display: inline-block;
*/
background: #f5f3f3;
padding: 5px;
border: 2px solid #d8bdbd;
margin-left: 10px;
margin-left:10px;
margin-right:10px;
margin:0 auto;
}
.row {
  display: -ms-flexbox;
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    z-index: 9999;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
}
